<% if session[:user] %>
  <form action="/logout" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="ログアウト">
  </form>
<% end %>

<h1><%= @board['name'] %></h1>

<form action="/boards/<%= @board['id'] %>/posts" method="post" enctype="multipart/form-data">
  <% if session[:user].nil? %>
    <div>
      <label for="name">名前: </label>
      <input type="text" name="name">
    </div>
  <% else %>
    <input type="hidden" name="name" value="<%= session[:user]["name"] %>">
  <% end %>

  <div>
    <label for="content">投稿内容: </label>
    <textarea name="content" cols=50 rows=10></textarea>
  </div>

  <input type="file" name="img">

  <input type="submit" value="投稿">
</form>

<% @posts.each do |post| %>
  <h2><%= post['name'] %></h1>
  <p><%= post['content'] %></p>
  <img src="/images/<%= post['image_path']%>">
<% end %>