<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<div class="posts-all">
  <div class="posts-form">
  <% if session[:user] %>
    <p class="login-name">ようこそ！<%= session[:user]["name"] %>さん</p>
  <% end %>

    <div class="potsts-textarea">
      <div class="pots-title">
        <div class="a-title">
          <h4><a>掲示板タイトル:</a><%= @board['name'] %></h4>
        </div>
      </div>

      <form action="/boards/<%= @board['id'] %>/posts" method="post" enctype="multipart/form-data">
        <% if session[:user].nil? %>

        <div>
          <label for="name">名前: </label>
          <input type="text" name="name">
        </div>
          
        <% else %>
          <input type="hidden" name="name" value="<%= session[:user]["name"] %>">
        <% end %>

        <label for="content"> </label>
        <textarea name="content" cols=43 rows=3></textarea>
      
          <input type="file" name="img" id="img">
          <input type="submit" value="投稿">

      </form>
    </div>

    <div class="back-to-list">
      <a href="/boards">掲示板一覧へ戻る</a>
    </div>

    <div class="logout-button">
      <% if session[:user] %>
        <form action="/logout" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="ログアウト">
        </form>
      <% end %>
    </div>

  </div>

  <div class="posts-content">
    <% @posts.each do |post| %>
      <div class="post-details">
        <div class="details-top">
          <h2 class="post-name"><%= post['name'] %><a class="a-text">さんの投稿です</a></h2>
          <p class="post-time">投稿日時: <%= Time.parse(post['created_at']).strftime('%Y-%m-%d %H:%M') %></p>
        </div>
        <p><%= post['content'] %></p>
        <div class="post-details-img">
          <img src="/images/<%= post['image_path']%>">
        </div>

        <div class="delete-button">
          <% if session[:user] && session[:user]["name"] == post['name'] %>
            <form action="/boards/<%= @board['id'] %>/posts/<%= post['id'] %>" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="この投稿を削除する">
            </form>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>